Repository Picsart-Academy-UI/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json}": [
    "eslint --fix"
  ],
  "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "prettier --write"
  ]
}

Remove test folders (#6)
  src/App.js
  src/components/ExampleComponent/README.md
  src/components/ExampleComponent/index.js
  src/index.js
  src/store/index.js
  src/store/slices/TestSlice.js
Due: eslint --fix, prettier --write

public folder policy update
  public/README.md
Due: none

defined homepage ui
  package.json
  public/fonts/Aileron-Bold.otf
  public/images/chair.png
  public/index.css
  public/index.html
  src/App.js
  src/hooks/style/useStyles.js
  src/index.css
  src/pages/Login/components/Homepage.js
Due: eslint --fix, prettier --write

removed label
  src/pages/Login/components/Homepage.js
Due: eslint --fix, prettier --write

Add registration page
  src/pages/Registration/components/Registration.js
  src/pages/Registration/index.js
Due: eslint --fix, prettier --write

added routing setup
  package-lock.json
  package.json
  src/App.js
  src/components/NotFound.js
  src/routes/index.js
Due: eslint --fix, prettier --write

removed unnecessary code
  src/App.js
Due: eslint --fix, prettier --write

Added routing (#8)
  package-lock.json
  package.json
  src/App.js
  src/components/NotFound.js
  src/routes/index.js
Due: eslint --fix, prettier --write

add reset paddword, style changes
  .eslintrc.js
  src/App.js
  src/App.jsx
  src/constants/index.js
  src/hooks/style/useStylesMain.js
  src/index.css
  src/pages/Login/components/Homepage.js
  src/pages/Login/useStylesCustom.js
  src/pages/ResetPassword/components/MailInput.jsx
  src/pages/ResetPassword/components/NewPassword.jsx
  src/pages/ResetPassword/index.jsx
  src/pages/ResetPassword/useStylesCustom.js
  src/reset.css
Due: eslint --fix, prettier --write

separete styles(main & local)
  src/constants/index.js
  src/hooks/style/useStylesMain.js
  src/pages/Login/components/Homepage.js
  src/pages/Login/useStylesLocal.js
Due: eslint --fix, prettier --write

change rule import/prefer-default-export
  .eslintrc.js
Due: none

update styles
  src/index.css
Due: prettier --write

update NotFound page
  src/components/NotFound.js
  src/pages/NotFound/index.jsx
  src/pages/NotFound/useStylesLocal.js
Due: eslint --fix, prettier --write

update routes
  src/App.js
  src/App.jsx
  src/routes/index.js
Due: eslint --fix, prettier --write

homepage redisign
  package-lock.json
  package.json
  public/images/glogo.png
  src/hooks/style/useStyles.js
  src/pages/Login/components/Homepage.js
Due: eslint --fix, prettier --write

merging
  src/pages/Login/components/README.md
  src/pages/Login/index.js
  src/pages/SignIn/README.md
  src/pages/SignIn/index.jsx
  src/pages/SignIn/useStylesLocal.js
  src/routes/index.jsx
Due: eslint --fix, prettier --write

add routes
  src/pages/Profile/index.jsx
  src/pages/Reservations/index.jsx
  src/pages/ReservationsCreate/index.jsx
  src/pages/ReservationsEdit/index.jsx
  src/pages/SignIn/index.jsx
  src/pages/Teams/index.jsx
  src/pages/TeamsCreate/index.jsx
  src/pages/TeamsEdit/index.jsx
  src/pages/Users/index.jsx
  src/pages/UsersCreate/index.jsx
  src/pages/UsersEdit/index.jsx
  src/routes/index.jsx
Due: eslint --fix, prettier --write

Teams Page
  src/pages/Teams/index.jsx
  src/pages/Teams/style.js
Due: eslint --fix, prettier --write

Teams Page (#12)
  src/pages/Teams/index.jsx
  src/pages/Teams/style.js
Due: eslint --fix, prettier --write

added jenkins files
  jenkins/jenkinsfile
  jenkins/scripts/deliver.sh
  jenkins/scripts/kill.sh
  jenkins/scripts/test.sh
Due: none

jenkinsfile
  jenkins/jenkinsfile
Due: none

jenkinsfile update
  jenkins/jenkinsfile
  jenkinsfile
Due: none

m
  jenkinsfile
Due: none

added jenkinsfile
  Jenkinsfile
Due: none

created the reservation page
  .flowconfig
  package-lock.json
  package.json
  src/pages/Reservations/components/CustomTable.jsx
  src/pages/Reservations/index.jsx
  src/pages/Reservations/style.jsx
Due: eslint --fix, prettier --write

jenkinsfile
  Jenkinsfile
Due: none

jenkinsfile update
  Jenkinsfile
Due: none

Users Page
  src/pages/Users/SecondVersion.jsx
  src/pages/Users/components/DropDown.jsx
  src/pages/Users/components/UserRow.jsx
  src/pages/Users/index.jsx
  src/pages/Users/style.js
Due: eslint --fix, prettier --write

Users Page (#14)
  src/pages/Users/SecondVersion.jsx
  src/pages/Users/components/DropDown.jsx
  src/pages/Users/components/UserRow.jsx
  src/pages/Users/index.jsx
  src/pages/Users/style.js
Due: eslint --fix, prettier --write

add redux, redux-thunk, redux-persist
  package-lock.json
  package.json
Due: none

configure redux-persist
  src/index.js
  src/store/index.js
Due: eslint --fix, prettier --write

add signinSlice reducer
  src/store/slices/signinSlice.js
Due: eslint --fix, prettier --write

add isLoggedIn working simulation
  src/App.jsx
  src/pages/SignIn/index.jsx
  src/routes/index.jsx
Due: eslint --fix, prettier --write

add paperPading className
  src/hooks/style/useStylesMain.js
Due: eslint --fix, prettier --write

add utils for DesktopMenuLeft component
  src/components/Header/desktopMenuLeftUtils.js
Due: eslint --fix, prettier --write

add Header styles
  src/components/Header/styles.js
Due: eslint --fix, prettier --write

add Header
  src/components/Header/index.jsx
Due: eslint --fix, prettier --write

profile page
  package-lock.json
  package.json
  src/pages/Profile/index.jsx
  src/pages/Profile/useStylesLocal.js
Due: eslint --fix, prettier --write

profile page
  src/pages/Profile/index.jsx
  src/pages/Users/index.jsx
Due: eslint --fix, prettier --write
